@using Sixoclock.Onyx.Web.Areas.App.Models.Common.Modals

@using Sixoclock.Onyx.Web.Areas.App.Models.ChargeReleaseOptions
@model CreateOrEditChargeReleaseOptionViewModel

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateChargeReleaseOption")))

<div class="modal-body">
    <form role="form" novalidate class="form-validation">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <div class="form-group">
                <input type="hidden" name="Id" value="@Model.ChargeReleaseOption.Id" />
                <input type="hidden" name="TenantId" value="@Model.ChargeReleaseOption.TenantId" />
                <label class="form-md-floating-label">@L("Option")</label>
                <input class="form-control" type="text" name="Option" value="@Model.ChargeReleaseOption.Option" required>
            </div>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <div class="form-group">
                <label class="form-md-floating-label">@L("Comment")</label>
                <input class="form-control" type="text" name="Comment" value="@Model.ChargeReleaseOption.Comment" required>
            </div>
        </div>
    </form>
</div>

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
