@using Sixoclock.Onyx.Web.Areas.App.Models.Common.Modals

@using Sixoclock.Onyx.Web.Areas.App.Models.MountTypes
@model CreateOrEditMountTypeViewModel

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateMountType")))

<div class="modal-body">
    <form role="form" novalidate class="form-validation">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <div class="form-group">
                <input type="hidden" name="Id" value="@Model.MountType.Id" />
                <input type="hidden" name="TenantId" value="@Model.MountType.TenantId" />
                <label class="form-md-floating-label">@L("Name")</label>
                <input class="form-control" type="text" name="Name" value="@Model.MountType.Name" required>
            </div>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <div class="form-group">
                <label class="form-md-floating-label">@L("Comment")</label>
                <input class="form-control" type="text" name="Comment" value="@Model.MountType.Comment" required>
            </div>
        </div>
    </form>
</div>

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
