@using Sixoclock.Onyx.Web.Areas.App.Models.Common.Modals

@using Sixoclock.Onyx.Web.Areas.App.Models.ModelConnectors
@model CreateOrEditModelConnectorViewModel

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateModelConnector")))

<div class="modal-body">
    <form role="form" novalidate class="form-validation form-horizontal">
        <input type="hidden" name="Id" value="@Model.ModelConnector.Id" />
        <input type="hidden" name="TenantId" value="@Model.ModelConnector.TenantId" />

        <div class="form-group no-hint">
            <label class="control-label col-sm-4">Select Vendor</label>
            @if (Model.ModelConnector.Id == 0)
            {
                <div class="col-sm-8">
                    <select class="form-control bs-select" required>
                        <option value="0">@L("DropdownDefault")</option>
                        @for (int i = 0; i < ViewBag.Vendors.Items.Count; i++)
                        {
                            <option value="@ViewBag.Vendors.Items[i].Id">@ViewBag.Vendors.Items[i].Name</option>
                        }
                    </select>
                </div>

            }
            else
            {
                <div class="col-sm-8">
                    <select class="form-control bs-select" required disabled>
                        <option value="0">@L("DropdownDefault")</option>
                        @for (int i = 0; i < ViewBag.Vendors.Items.Count; i++)
                        {
                            @if (Model.ModelConnector.VendorId == ViewBag.Vendors.Items[i].Id)
                            {

                                <option value="@ViewBag.Vendors.Items[i].Id" selected>@ViewBag.Vendors.Items[i].Name</option>
                            }
                            else
                            {
                                <option value="@ViewBag.Vendors.Items[i].Id">@ViewBag.Vendors.Items[i].Name</option>
                            }
                        }
                    </select>
                </div>

            }
        </div>

        <div class="form-group no-hint">
            <label class="control-label col-sm-4" for="ChargepointModelId">Select Model</label>
            @if (Model.ModelConnector.Id == 0)
            {
                <div class="col-sm-8">
                    <select name="ChargepointModelId" id="ChargepointModelId" class="form-control bs-select" required>
                        <option value="0">@L("DropdownDefault")</option>
                        @for (int i = 0; i < ViewBag.ChargepointModels.Items.Count; i++)
                        {
                            <option value="@ViewBag.ChargepointModels.Items[i].Id">@ViewBag.ChargepointModels.Items[i].Name</option>
                        }
                    </select>
                </div>

            }
            else
            {
                <div class="col-sm-8">
                    <select name="ChargepointModelId" id="ChargepointModelId" class="form-control bs-select" required disabled>
                        <option value="0">@L("DropdownDefault")</option>
                        @for (int i = 0; i < ViewBag.ChargepointModels.Items.Count; i++)
                        {
                            @if (Model.ModelConnector.ChargepointModelId == ViewBag.ChargepointModels.Items[i].Id)
                            {

                                <option value="@ViewBag.ChargepointModels.Items[i].Id" selected>@ViewBag.ChargepointModels.Items[i].Name</option>
                            }
                            else
                            {
                                <option value="@ViewBag.ChargepointModels.Items[i].Id">@ViewBag.ChargepointModels.Items[i].Name</option>
                            }
                        }
                    </select>
                </div>

            }
        </div>
        <div class="form-group no-hint">
            <label class="control-label col-sm-4" for="ModelEVSEId">Select EVSE</label>
            @if (Model.ModelConnector.Id == 0)
            {
                <div class="col-sm-8">
                    <select name="ModelEVSEId" id="ModelEVSEId" class="form-control bs-select" required>
                        <option value="0">@L("DropdownDefault")</option>
                        @for (int i = 0; i < ViewBag.ModelEVSEs.Items.Count; i++)
                        {
                            <option value="@ViewBag.ModelEVSEs.Items[i].Id">@ViewBag.ModelEVSEs.Items[i].EVSEId</option>
                        }
                    </select>
                </div>

            }
            else
            {
                <div class="col-sm-8">
                    <select name="ModelEVSEId" id="ModelEVSEId" class="form-control bs-select" required disabled>
                        <option value="0">@L("DropdownDefault")</option>
                        @for (int i = 0; i < ViewBag.ModelEVSEs.Items.Count; i++)
                        {
                            @if (Model.ModelConnector.ModelEVSEId == ViewBag.ModelEVSEs.Items[i].Id)
                            {

                                <option value="@ViewBag.ModelEVSEs.Items[i].Id" selected>@ViewBag.ModelEVSEs.Items[i].EVSEId</option>
                            }
                            else
                            {
                                <option value="@ViewBag.ModelEVSEs.Items[i].Id">@ViewBag.ModelEVSEs.Items[i].EVSEId</option>
                            }
                        }
                    </select>
                </div>

            }
        </div>

        <div class="form-group no-hint">
            <label class="control-label col-sm-4" for="ConnectorTypeId">Select connector type</label>
            <div class="col-sm-8">
                <select name="ConnectorTypeId" id="ConnectorTypeId" class="form-control bs-select" required>
                    <option value="0">@L("DropdownDefault")</option>
                    @for (int i = 0; i < ViewBag.ConnectorTypes.Items.Count; i++)
                    {
                        @if (Model.ModelConnector.ConnectorTypeId == ViewBag.ConnectorTypes.Items[i].Id)
                        {

                            <option value="@ViewBag.ConnectorTypes.Items[i].Id" selected>@ViewBag.ConnectorTypes.Items[i].Name</option>
                        }
                        else
                        {
                            <option value="@ViewBag.ConnectorTypes.Items[i].Id">@ViewBag.ConnectorTypes.Items[i].Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group no-hint">
            <label class="control-label col-sm-4" for="CapacityId">Select capacity</label>
            <div class="col-sm-8">
                <select name="CapacityId" id="CapacityId" class="form-control bs-select" required>
                    <option value="0">@L("DropdownDefault")</option>
                    @for (int i = 0; i < ViewBag.Capacities.Items.Count; i++)
                    {
                        @if (Model.ModelConnector.CapacityId == ViewBag.Capacities.Items[i].Id)
                        {

                            <option value="@ViewBag.Capacities.Items[i].Id" selected>@ViewBag.Capacities.Items[i].Name</option>
                        }
                        else
                        {
                            <option value="@ViewBag.Capacities.Items[i].Id">@ViewBag.Capacities.Items[i].Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group no-hint">
            <label class="control-label col-sm-4" for="Comment">Comment</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="Comment" id="Comment" value="@Model.ModelConnector.Comment" required>
            </div>
        </div>
        <div class="form-group no-hint">
            <label class="control-label col-sm-4">@L("ConnectorId")</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="ConnectorId" id="ConnectorId" value="@Model.ModelConnector.ConnectorId" required disabled>
            </div>
        </div>
    </form>

</div>

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
