@using Sixoclock.Onyx.Web.Areas.App.Models.Common.Modals

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Rules")))
<style type="text/css">
    .modal-dialog {
        position: relative;
        display: table; /* This is important */
        overflow-y: auto;
        overflow-x: auto;
        width: auto;
        min-width: 300px;
    }
</style>

@section Scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Areas/App/Views/GrantRules/_CreateOrEditModal.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/GrantRules/Index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Areas/App/Views/GrantRules/_CreateOrEditModal.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/GrantRules/Rules/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="modal-body">

    <input id="RuleSetId" type="hidden" name="RuleSetId" value="@ViewBag.RuleSetId" />
    <div class="portlet light margin-bottom-0">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <button id="RefreshRulesButton" class="btn btn-primary blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                                </div>
                            </div>
                            <div class="col-xs-6 text-right">
                                @*TODO: Add check here for Add Rule permissions*@
                                <button id="CreateNewRuleButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewRule")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <table id="RulesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>@L("Actions")</th>
                        <th>@L("RelationStart")</th>
                        <th>@L("EntityName")</th>
                        <th>@L("PropertyName")</th>
                        <th>@L("RuleCondition")</th>
                        <th>@L("Value")</th>
                        <th>@L("RelationEnd")</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
    </div>
</div>