@using System.Threading.Tasks
@using Abp.Application.Services.Dto
@using Sixoclock.Onyx.Authorization
@using Sixoclock.Onyx.Web.Areas.App.Startup
@using Sixoclock.Onyx.Web.Startup
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Services;
}
@section Styles
    {
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Areas/App/Views/Services/Index.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Areas/App/Views/Services/Index.min.css" asp-append-version="true" />
    </environment>
}
@section Scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Areas/App/Views/Services/_CreateOrEditModal.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/Services/Index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Areas/App/Views/Services/_CreateOrEditModal.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/GrantRules/_CreateOrEditModal.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/Services/Index.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/GrantRules/Rules/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Services")</span> <small>@L("ServicesHeaderInfo")</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        @if (IsGranted(AppPermissions.Pages_Services_Create))
        {
            <button id="CreateNewServiceButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateService")</button>
        }
    </div>
</div>

<div class="portlet light margin-bottom-0">
    <div class="portlet-title portlet-title-filter">
        <div class="inputs inputs-full-width">
            <div class="portlet-input">
                <form>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <button id="RefreshServicesButton" class="btn btn-primary blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table id="ServicesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
            <thead>
                <tr>
                    
                    <th>@L("Actions")</th>
                    <th>@L("ServiceName")</th>
                    <th>@L("FeatureName")</th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>
