@using Sixoclock.Onyx.Web.Areas.App.Models.Common.Modals

@using Sixoclock.Onyx.Web.Areas.App.Models.ParentTags
@model CreateOrEditParentTagViewModel

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateParentTag")))

<div class="modal-body">
    <form role="form" novalidate class="form-validation">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input type="hidden" name="Id" value="@Model.ParentTag.Id" />
            <input type="hidden" name="TenantId" value="@Model.ParentTag.TenantId" />
            <div class="form-group">
                <label class="form-md-floating-label">@L("ParentTagValue")</label>
                <input class="form-control" type="text" name="Value" value="@Model.ParentTag.Value" required>
            </div>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <div class="form-group">
                <label class="form-md-floating-label">@L("Comment")</label>
                <input class="form-control" type="text" name="Comment" value="@Model.ParentTag.Comment" required>
            </div>
        </div>
    </form>
</div>

@Html.Partial("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
